@font-face {
font-family: icon-font;
src: url(fonts/icon-font.eot);
src: url(fonts/icon-font.eot?#iefix) format('eot'), url(fonts/icon-font.woff) format('woff'), url(fonts/icon-font.ttf) format('truetype'), url(fonts/icon-font.svg#icon-font) format('svg')
}

.icon-desktop:before,
.icon-menu-close:before,
.icon-menu:before,
.icon-mobile:before,
.icon-submenu-down:before,
.icon-submenu-right:before,
.icon-world:before,
.nav .nav-submenu>a:after,
.nav-button:before,
.nav-close:before,
.nav>ul>.nav-submenu>a:after,
header h1:before {font-family: icon-font;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-style: normal;font-variant: normal;font-weight: 400;text-decoration: none;text-transform: none;vertical-align: top}
.icon-desktop:before {content: "\E001"}
.icon-menu-close:before {content: "\E002"}
.icon-menu:before {content: "\E003"}
.icon-mobile:before {content: "\E004"}
.icon-submenu-down:before {content: "\E005"}
.icon-submenu-right:before {content: "\E006"}
.icon-world:before {content: "\E007"}

/*body{padding-top:4.4rem}header{display:block;position:fixed;top:0;left:0;right:0;z-index:901;padding-left:10px;line-height:4.4rem;background:#26201C;color:#A69A94}header h1{margin:0;font-size:1.7rem;line-height:4.4rem}header h1:before{content:"\E004";margin-right:8px}*/
.nav-button,.nav-close {position: absolute;width: 50px;height: 35px;overflow: hidden;z-index: 902;cursor: pointer;text-decoration: none;line-height: 35px;background: #218eec;color: #fff;float: right;margin: 0;border-radius: 5px;}
.nav-button:before,.nav-close:before {display: block;text-align: center}
.nav-button {display: block;right: 50px;top: 25px;font-size: 1.7rem}
.nav-button:before {content: "\E003"}
.nav-close {display: none;right: 4rem;font-size: 1.9rem}
.nav-close:before {content: "\E002"}
.nav {padding: 0 10px;margin: 0px 0 0 0 !important;line-height: 30px;/*background:#fff;*/}
.nav ul {border-radius: 0 0 0px 0px;font-size: 15px;color: #000 !important;font-weight: 500;}
.nav ul ul {width: auto;height: auto;padding: 5px;margin: 7px 0 0 0 !important;background: #de2b7d;font-size: 15px;line-height: 24px;border-radius: 5px;/* left:-400px; border:solid 2px #ff2400;*/}
.nav ul ul ul {padding: 5px;margin: 0px 0 0 20px !important;background: #de2b7d;font-size: 15px;line-height: 24px;border-radius: 5px;}
.nav ul ul ul ul {background: #40362f}
.nav ul ul ul ul ul {background: #493e36}
.nav li {border-bottom: 0px solid #fff;cursor: pointer}
.nav li.nav-active>a,.nav li:hover>a {color: #218eec;/*border-radius:10px;*/}
.nav .nav-submenu>ul {margin-left: 0px}
.nav .nav-submenu>a {padding-right: 30px !important}
.nav a,.nav a:active,.nav a:hover,.nav a:visited {padding: 3px 12px 1px;color: #000;text-decoration: none;border-radius: 5px;}
.nav .mactive {background: #218eec;}

.nav li li a,.nav li li a:visited {width: 100%;padding: 5px 12px;border-left: solid 0px #333;float: left;color: #fff !important;text-decoration: none;text-align: left;border-bottom: 0px solid #333;}
.nav li li a:active,.nav li li a:hover {width: 100%;padding: 5px 12px;border-left: solid 0px #333;color: #fff !important;background: #ed1c24;text-decoration: none;color: #fff;border-bottom: 0px solid #333;}
.nav .nav-submenu>a:after {position: absolute;display: block;right: 12px;top: 3px;content: "\E005";font-size: 12px;}

@media only screen and (min-width:1025px) {

/*body{padding:0!important}header{position:relative}header h1:before{content:"\E001"}*/
.nav-button {display: none}
.nav {padding: 0 !important;}

.nav>ul>li {border-top: none}
.nav li>ul {/*box-shadow:0 0 5px 0 rgba(0,0,0,.75)*/}
.nav ul ul ul {border-radius: 0 6px 6px}
.nav ul ul ul li:first-child {border-top: none}
.nav .nav-left>ul {border-radius: 6px 0 6px 6px}
.nav .nav-submenu li {min-width: 110px}
.nav .nav-submenu>ul {margin: 0}
.nav>ul>.nav-submenu>a:after {content: "\E005"}
.nav .nav-submenu>a:after {content: "\E006"}

}

@media (min-width: 481px) and (max-width: 1025px) {
.nav {padding: 0 !important;margin:10px 0 0 0 !important;line-height: 32px;/*background:#fff;*/}
.nav ul {border-radius: 0 0 0px 0px;font-size: 16px;color: #000 !important;}
.nav ul ul {width: 100%;height: auto;background: #fff !important;font-size: 13px;line-height: 22px;/* left:-400px; border:solid 2px #ff2400;*/z-index: 1;}
.nav a,.nav a:active,.nav a:hover,.nav a:visited {padding:3px 5px 0px;color: #000;text-decoration: none;text-transform: uppercase;border-radius:0px;border-top: 1px solid #e1e1e1 !important;border-bottom: 0px solid #e1e1e1;}
.nav li li a,.nav li li a:visited {width: 100%;padding: 5px 22px;display: block;border-left: solid 0px #333;float: left;color: #333 !important;text-decoration: none;text-align: left;border-radius:none; border-bottom: 1px solid #e1e1e1 !important;}
.nav li li a:active,.nav li li a:hover {width: 100%;padding: 5px 22px;border-left: solid 0px #333;color: #fff !important;background: #0070c0;text-decoration: none; border-bottom: 1px solid #e1e1e1 !important;}

}
@media (min-width: 320px) and (max-width: 481px) {
.nav-button {display: block;right: 20px;}
.nav {padding: 0 !important;margin:10px 0 0 0 !important;line-height: 32px;/*background:#fff;*/}
.nav ul {border-radius: 0 0 0px 0px;font-size: 16px;color: #000 !important;}
.nav ul ul {width: 100%;height: auto;background: #fff !important;font-size: 13px;line-height: 22px;/* left:-400px; border:solid 2px #ff2400;*/z-index: 1;}
.nav a,.nav a:active,.nav a:hover,.nav a:visited {padding:3px 5px 0px;color: #000;text-decoration: none;text-transform: uppercase;border-radius:0px;border-top: 1px solid #e1e1e1 !important;border-bottom: 0px solid #e1e1e1;}
.nav li li a,.nav li li a:visited {width: 100%;padding: 5px 22px;display: block;border-left: solid 0px #333;float: left;color: #333 !important;text-decoration: none;text-align: left;border-radius:none; border-bottom: 1px solid #e1e1e1 !important;}
.nav li li a:active,.nav li li a:hover {width: 100%;padding: 5px 22px;border-left: solid 0px #333;color: #fff !important;background: #0070c0;text-decoration: none; border-bottom: 1px solid #e1e1e1 !important;}

}